body {
  padding: 50px;
  font: 14px "Helvetica Neue", Helvetica, sans-serif;
}

h1 {
  font-weight: 100;
}

h2 {
  font-weight: 200;
}

h3 {
  font-weight: bold;
}

pre {
  display: inline-block;
  border: 1px solid #eee;
  padding: 15px;
  border-radius: 5px;
}

code .comment { color: #ddd }
code .init { color: #2F6FAD }
code .string { color: #5890AD }
code .keyword { color: #8A6343 }
code .number { color: #2F6FAD }